arduino/arduino-two.txt
[{"id":"18d2e9eb.911246","type":"tab","label":"Arduino Data","disabled":false,"info":""},{"id":"1af01527.2df5c7","type":"tcp in","z":"18d2e9eb.911246","name":"Arduino Data","server":"server","host":"","port":"8888","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":220,"y":120,"wires":[["d0d0f83e.10ff4"]]},{"id":"d0d0f83e.10ff4","type":"json","z":"18d2e9eb.911246","name":"Parse JSON","property":"payload","action":"","pretty":false,"x":410,"y":120,"wires":[["cb89f5b2.f8d8a8"]]},{"id":"cb89f5b2.f8d8a8","type":"function","z":"18d2e9eb.911246","name":"Data Processing","func":"// Example code: Convert distance from cm to meters\nmsg.payload.distance_m = msg.payload.distance / 100;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":120,"wires":[["c0efec42.b68b9"]]},{"id":"c0efec42.b68b9","type":"ui_chart","z":"18d2e9eb.911246","name":"","group":"65b3f58c.872eb4","order":0,"width":0,"height":0,"label":"Arduino Sensor Data","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":780,"y":120,"wires":[[]]},{"id":"e4d9f1a1.6d36b8","type":"comment","z":"18d2e9eb.911246","name":"Arduino Data Visualization","info":"","x":220,"y":80,"wires":[]},{"id":"65b3f58c.872eb4","type":"ui_group","z":"","name":"Default","tab":"f20a3dd3.5e53c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"server","type":"tcp-server","z":"","host":"","port":"8888","name":""},{"id":"f20a3dd3.5e53c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
